@import '../../../sass/variables.scss';

.paymenthistory-mana {
    padding: 2rem;
    .table-header {
        width: 270px;
        margin-right: auto;
        .form-control {
            height: 40px;
            border-radius: 20px;
            padding-left: 45px;
        }
        .btn-search {
            position: absolute;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 20px;
            z-index: 5;
            background-color: $orange;
            &:hover, &:active, &:focus {
                background-color: $orange;
            }
            .img-search {
                width: 100%;
            }
        }
    }
}